@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*不要更動上面是取消預設值*/


/*導覽列*/
.nav{
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: -1px 0px 4px 3px rgb(173 163 163/20%);
}
.nav ul{
    display: inline-block;
    text-align: center;
}
.nav li{
    display: inline-block;
}
.logo{
    width: 100%;
    margin: 0;
    padding: 0;
}
.logo img{
    display: inline-block;
    position: absolute;
    width: 150px;
    left: 40px;
    top: 15px;
    text-decoration: none;
}
.search{
    position: absolute;
    top: 20px;
    left: 210px;
    text-decoration: none;
}
.search input{
    width: 430px;
    height: 35px;
    border-color: #EE4D2D;
    border-style: groove;
    border-radius: 5px;
}
.nav li img{
    width: 25px;
    margin: 0 5px;
}
.navIcon{
    position: absolute;
    right: 40px;
    top: 23px;
    text-decoration: none;
}
.navOption{
    position: absolute;
    right: 250px;
    top: 25px;
    margin: 0 5px;
}
.navOption p{
    margin: 0 10px;
}
.navOption a{
    color: #2f2f2f;
    text-decoration: none;
}
.navOption a:hover{
    color: #EE4D2D;
}

.dot{
    display: none;
    position: absolute;
    right: 120px;
    top: 20px;
}
#buyNumber{
    font-size: x-small;
    color: #ffffff;
    background-color: #EE4D2D;
    width: 18px;
    height: 17px;
    border-radius: 10px;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menuIcon{
    display: none;
    position: absolute;
    right: 40px;
    top: 23px;
    text-decoration: none;
}


/*內容*/
.content{
    position: relative;
    height: 100vw;
}
.label-1{
    position: absolute;
    left: 40px;
    top: 20px;
}
.label-1 a{
    color: #2f2f2f;
    text-decoration: none;
}
.label-1 a:hover{
    color: #EE4D2D;
}

/*商品照tab*/
.shopeeintro{
    position: absolute;
    display: inline-block;
    left: 40px;
    top: 60px;
    width: 700px;
}
.tab-content{
    display: inline-block;
    vertical-align: middle;
}
.tab-content img{
    width: 500px;
}
.nav_nav-pills_mb-3{
    position: absolute;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}
.nav_nav-pills_mb-3 button{
    background-color: #ffffff;
    border: none;
    padding: 0;
}
.nav_nav-pills_mb-3 img{
    width: 117px;
    margin: 0 0 10px 0;
}

/*價格與選擇*/
.information{
    position: relative;
    width: 40%;
    left: 810px;
}
.content h1{
    position: absolute;
    font-weight: 700;
    font-size: x-large;
    top: 60px;
}
.label-2{
    position: absolute;
    top: 105px;
    width: 100%;
}
.label-2 button{
    margin: 0 10px 0 0;
    padding: 5px 15px;
    font-size: xx-small;
    color: #EE4D2D;
    background-color: #ffffff;
    border-color: #EE4D2D;
    border-style: groove;
    border-radius: 20px;
}
.label-2 button a{
    color: #EE4D2D;
    text-decoration: none;
}
.price{
    position: absolute;
    top: 160px;
    font-size: 35pt;
    color: #EE4D2D;
}

.star{
    position: absolute;
    top: 270px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #EE4D2D;
}
.star p{
    display: inline-block;
    font-size: 25pt;
    color: #EE4D2D;
    margin: 0 15px;
}

.data{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}
.data span{
    margin: 0 15px 0 0;
}
.data p{
    color: #EE4D2D;
    font-size: 16pt;
    margin: 0 40px 0 0;
}

.choice{
    position: absolute;
    top: 400px;
}
.choice p{
    margin: 0 20px 0 0;
}
.choice select{
    margin: 0 40px 0 0;
    width: 70px;
    height: 25px;
    text-align: center;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.color-size{
    display: flex;
    margin: 0 0 20px 0;
}

.number{
    display: inline-flex;
    align-items: center;
}
.number p{
    margin: 3px 0 0 0;
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}
.count-btn{
      cursor: pointer;
      padding: 0 20px 0 20px;
      font-size: x-large;
      color: #EE4D2D;
      border: #EE4D2D;
}
.number input{
    width: 70px;
    border-color: #EE4D2D;
    border-radius: 5px;
    border-style: groove;
    text-align: center;
}

/*
.number button{
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    border-color: #cdcdcd;
    font-size: medium;
    width: 25px;
    height: 25px;
    padding: 0;
}
.number a{
    color: #EE4D2D;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.add{
    margin: 0 20px 0 10px;
    text-align: center;
}
.remove{
    margin: 0 10px 0 0;
    text-align: center;
}
*/

.remainder{
    color: #8d8d8d;
    font-size: small;
}

.buyButton{
    margin: 50px 0 0 0;
}
.buyButton button{
    margin: 0 10px 0 0;
    border-style: groove;
}
.buyCar{
    width: 120px;
    height: 40px;
    background-color: #FFE0D6;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.buyCar a{
    color: #EE4D2D;
    text-decoration: none;
}
.buyCar:hover{
    color: #EE4D2D;
    background-color: #FFCAB8;
}
.buyCar a:hover{
    color: #EE4D2D;
}
.buy{
    width: 160px;
    height: 40px;
    background-color: #EE4D2D;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.buy a{
    color: #ffffff;
    text-decoration: none;
}
.buy:hover{
    color: #ffffff;
    background-color: #CC2200;
}
.buy a:hover{
    color: #ffffff;
}
.talk{
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.talk a{
    color: #EE4D2D;
    text-decoration: none;
}
.talk:hover{
    color: #EE4D2D;
    background-color: #FFEAE2;
}
.talk a:hover{
    color: #EE4D2D;
}

.protectAlert{
    position: relative;
    top: 600px;
}
.protectAlert ul{
    display: flex;
    margin: 0;
}
.protectAlert li{
    display: inline-block;
}
.protectAlert hr{
    margin: 0 0 15px 0;
}
.protectAlert span{
    position: relative;
    left: 40px;
}
.protectAlert h2{
    position: relative;
    left: 60px;
    font-weight: 700;
    font-size: large;
}
.protectAlert p{
    position: relative;
    left: 120px;
}

/*商品規格與詳情*/
.detailContent{
    position: relative;
    left: 85px;
    top: 650px;
    width: 90%;
}
.detailContent h3{
    font-weight: 700;
    font-size: large;
    margin: 20px 0;
}
.detailContent ul{
    display: inline-block;
    margin: 0 50px 40px 0;
}
.detailContent li{
    list-style-type: none;
    margin: 10px 0;
}
.detailContent a{
    color: #2f2f2f;
    text-decoration: none;
}
.detailContent a:hover{
    color: #EE4D2D;
}
.detailContent ul p{
    width: 100%;
    margin: 10px 0;
}



@media(min-width:1400px){
    ul.menuIcon{
        display: none;
    }
}


@media(max-width:1400px){
    ul.navOption{
        display: none;
    }
    ul.menuIcon{
        display: none;
    }
    div.shopeeintro{
        display: inline-block;
    }
    ul.nav_nav-pills_mb-3{
        padding: 0;
        margin: 0;
        display: flex;
    }
    ul.nav_nav-pills_mb-3 li{
        padding: 10px 10px 10px 0;
    }
    div.information{
        left: 600px;
        width: 100%;
    }
    div.protectAlert{
        top: 720px;
        width: 100%;
    }
    div.detailContent{
        top: 740px;
    }
}


@media(max-width:900px){
    ul.navIcon{
        display: none;
    }
    ul.menuIcon{
        display: inline-block;
    }
    ul.search{
        width: 40%;
        left: 23%;
    }
    ul.logo img{
        width: 16%;
    }
    div.content{
        width: 100%;
    }
}


@media(max-width:768px){
    div.nav{
        height: 60px;
    }
    ul.navIcon{
        display: none;
    }
    ul.menuIcon{
        display: inline-block;
        right: 30px;
    }
    ul.search{
        display: none;
    }
    ul.logo img{
        width: 120px
    }
}


@media(max-width:576px){
    div.nav{
        height: 50px;
    }
    ul.menuIcon{
        display: none;
    }
    ul.logo{
        width: 100%;
    }
    ul.logo img{
        position: absolute;
        left: 40%;
        width: 20%;
        top: 20%;
    }
    p.label-1{
        display: none;
    }
    div.shopeeintro{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    div.tab-content{
        width: 100%;
    }
    div.tab-content img{
        width: 100%;
    }
    ul.nav_nav-pills_mb-3{
        width: 101.6%;
    }
    li.nav-item{
        width: 100%;
    }
    li.nav-item img{
        width: 100%;
    }
    div.content{
        display: inline-block;
    }
    div.information{
        top: 120px;
        left: 30px;
    }
    div.protectAlert{
        margin: 0;
        width: 100%;
        top: 750px;
    }
    div.protectAlert hr{
        margin: 0;
    }
    div.protectAlert ul{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        padding: 0;
        margin: 20px 0;
    }
    div.protectAlert span{
        left: 0;
        margin: 0 30px;
    }
    div.protectAlert h2{
        margin: 0;
        left: 0;
    }
    div.protectAlert p{
        left: 0;
        width: 85%;
        margin: 0 40px 0 20px;
    }
    div.detailContent{
        margin: 60px 30px;
        left: 0;
    }
}