@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*不要更動上面是取消預設值*/


/*導覽列*/
.nav{
    position: relative;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: -1px 0px 4px 3px rgb(173 163 163/20%);
}
.nav ul{
    display: inline-block;
    text-align: center;
}
.nav li{
    display: inline-block;
}
.logo img{
    display: inline-block;
    position: absolute;
    width: 150px;
    left: 40px;
    top: 15px;
    text-decoration: none;
}
.search{
    position: absolute;
    top: 20px;
    left: 230px;
    text-decoration: none;
}
.search input{
    width: 400px;
    height: 25px;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.nav li img{
    width: 25px;
    margin: 0 5px;
}
.navIcon{
    position: absolute;
    right: 40px;
    top: 23px;
    text-decoration: none;
}
.navOption{
    position: absolute;
    right: 250px;
    top: 25px;
    margin: 0 5px;
}
.navOption p{
    margin: 0 10px;
}
.navOption a{
    color: #2f2f2f;
    text-decoration: none;
}


/*內容*/
.content{
    position: relative;
    height: 100vw;
}
.label{
    position: absolute;
    width: 100vw;
    left: 40px;
    top: 20px;
}
.label a{
    color: #2f2f2f;
    text-decoration: none;
}
.clothPhoto img{
    position: absolute;
    left: 40px;
    top: 60px;
    width: 500px;
}