@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*不要更動上面是取消預設值*/


/*導覽列*/
.nav{
    position: relative;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: -1px 0px 4px 3px rgb(173 163 163/20%);
}
.nav ul{
    display: inline-block;
    text-align: center;
}
.nav li{
    display: inline-block;
}
.logo img{
    display: inline-block;
    position: absolute;
    width: 150px;
    left: 40px;
    top: 15px;
    text-decoration: none;
}
.search{
    position: absolute;
    top: 20px;
    left: 230px;
    text-decoration: none;
}
.search input{
    width: 400px;
    height: 25px;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.nav li img{
    width: 25px;
    margin: 0 5px;
}
.navIcon{
    position: absolute;
    right: 40px;
    top: 23px;
    text-decoration: none;
}
.navOption{
    position: absolute;
    right: 250px;
    top: 25px;
    margin: 0 5px;
}
.navOption p{
    margin: 0 10px;
}
.navOption a{
    color: #2f2f2f;
    text-decoration: none;
}


/*內容*/
.content{
    position: relative;
    height: 100vw;
}
.label-1{
    position: absolute;
    left: 40px;
    top: 20px;
}
.label-1 a{
    color: #2f2f2f;
    text-decoration: none;
}
.clothPhoto img{
    position: absolute;
    left: 40px;
    top: 60px;
    width: 500px;
}

.information{
    position: relative;
    width: 40%;
    left: 830px;
}
.content h1{
    position: absolute;
    font-weight: 700;
    font-size: x-large;
    top: 60px;
}
.label-2{
    position: absolute;
    top: 105px;
}
.label-2 button{
    margin: 0 10px 0 0;
    padding: 5px 15px;
    font-size: xx-small;
    color: #EE4D2D;
    background-color: #ffffff;
    border-color: #EE4D2D;
    border-radius: 20px;
}
.label-2 button a{
    color: #EE4D2D;
    text-decoration: none;
}
.price{
    position: absolute;
    top: 160px;
    font-size: 35pt;
    color: #EE4D2D;
}

.star{
    position: absolute;
    top: 270px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #EE4D2D;
}
.star p{
    display: inline-block;
    font-size: 25pt;
    color: #EE4D2D;
    margin: 0 15px;
}

.data{
    display: flex;
    margin: 15px 0 0 0;
}
.data span{
    margin: 0 15px 0 0;
}
.data p{
    color: #EE4D2D;
    font-size: 16pt;
    margin: 0 40px 0 0;
}

.choice{
    position: absolute;
    top: 400px;
}
.choice p{
    margin: 0 20px 0 0;
}
.choice select{
    margin: 0 40px 0 0;
    width: 70px;
    height: 25px;
    text-align: center;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.color-size{
    display: flex;
    margin: 0 0 20px 0;
}
.number{
    display: flex;
}
.number button{
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    border-color: #cdcdcd;
    font-size: medium;
    width: 25px;
    height: 25px;
}
.number a{
    color: #EE4D2D;
    text-decoration: none;
}
.add{
    margin: 0 10px 0 0;
}
.remove{
    margin: 0 30px 0 10px;
}
.number input{
    width: 70px;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.remainder{
    color: #8d8d8d;
    font-size: small;
}
.buyButton{
    margin: 50px 0 0 0;
}
.buyCar{
    width: 120px;
    height: 40px;
    background-color: #FFEEE8;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.buyCar a{
    color: #EE4D2D;
    text-decoration: none;
}
.buy{
    width: 120px;
    height: 40px;
    background-color: #EE4D2D;
    border-color: #EE4D2D;
    border-radius: 5px;
}
.buy a{
    color: #ffffff;
    text-decoration: none;
}
.protectAlert{
    position: relative;
    top: 600px;
}
.protectAlert ul{
    display: flex;
}
.protectAlert li{
    display: inline-block;
}
.protectAlert hr{
    padding: 3px 0;
}
.protectAlert span{
    position: relative;
    left: 40px;
}
.protectAlert h2{
    position: relative;
    left: 60px;
    font-weight: 700;
}
.protectAlert p{
    position: relative;
    left: 120px;
}